.cpu
    Navigation(:data='navigationdata' @diagnose="valbtn" @stop='valstop').navigation
    .dimension(v-if='isShow')
        ul
            li Cannot both specify accessors
            li Cannot both specify accessors
            li Cannot both specify accessors
            li Cannot both specify accessors
            li Cannot both specify accessors
            li Cannot both specify accessors
            li Cannot both specify accessors
    .dimension(v-else)
        ul
            li Invalid property descriptor
            li Invalid property descriptor
            li Invalid property descriptor
            li Invalid property descriptor
            li Invalid property descriptor
            li Invalid property descriptor
            li Invalid property descriptor


        