.overview
    .overview_top
        .content_left
            h2 ThinkCrbtre M8600s-N100
            p 
                span Windows 10 Pro(x64)
                span 主机编号: M703SXMS
        .content_right
            p 
                span 重新检测 
                button.back(@click='back') 返回        
    .overview_bottom            