div.wrapper_box
    header
        img(src="../public/images/favicon.png")
        p 联想电脑管家
            span 登录
    .main
       keep-alive
            router-view(v-if='$route.meta.KeepAlive')
       router-view(v-if='!$route.meta.KeepAlive')    
    footer
        ul
            li(v-for='(item,index) in pcmviews',:key='index',@click='skipRouter(item.classID)',@mouseover="mousemove(index)",@mouseout='mouseleave()',:id='index==id?"active":""',:class='ind==index?"mark":""')
                router-link(:to='item.path')
                    p {{item.des}}